/* **************** Fluid Text **************** */
/* todo: https://utopia.fyi/type/calculator/ */
:root {
  /* Customize */
  --step--2: clamp(0.74rem, 0.75rem + -0.05vw, 0.7rem);
  --step--1: clamp(0.89rem, 0.87rem + 0.07vw, 0.94rem);
  --step-0: clamp(1.06rem, 1.01rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.28rem, 1.17rem + 0.53vw, 1.67rem);
  --step-2: clamp(1.53rem, 1.34rem + 0.94vw, 2.22rem);
  --step-3: clamp(1.84rem, 1.53rem + 1.52vw, 2.96rem);
  --step-4: clamp(2.2rem, 1.73rem + 2.36vw, 3.95rem);
  --step-5: clamp(2.64rem, 1.93rem + 3.55vw, 5.26rem);
}

/* **************** Custom Properties **************** */
:root {
  --first-color: #fefefe;
  --second-color: #323232;
}
:root {
  --max-width: 1200px;
}

/* **************** Reset **************** */
/* ? Html */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ? Body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--second-color);
  background-color: var(--first-color);
}

/* ? Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

/* ? Form */
form {
  margin: 0;
  padding: 0;
}
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  outline: none;
}

/* ? Multi Media */
img,
video {
  max-width: 100%;
  height: auto;
}

/* ? Links */
a {
  color: #0070f3;
  text-decoration: none;
}
a:hover {
  opacity: 0.75;
}

/* ? List */
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* ? Paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* **************** Components **************** */
/* ? Container */
.container {
  width: 100%;
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
/* **************** Utilities **************** */
/* ? Fluid text */
.fluid-5 {
  font-size: var(--step-5);
}
.fluid-4 {
  font-size: var(--step-4);
}
.fluid-3 {
  font-size: var(--step-3);
}
.fluid-2 {
  font-size: var(--step-2);
}
.fluid-1 {
  font-size: var(--step-1);
}
.fluid-0 {
  font-size: var(--step-0);
}
.fluid--1 {
  font-size: var(--step--1);
}
.fluid--2 {
  font-size: var(--step--2);
}

/* ? Aling Text */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* ? Font weight */
.font-w-400 {
  font-weight: 400;
}
.font-w-600 {
  font-weight: 600;
}

/* ? Margin */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}

/* **************** Site Styles **************** */
/* ? Header */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ee8a66;
  padding: 0.5rem 0;
}
.header > .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}
.header .logo {
  width: 48px;
  height: 48px;
}
.header .logo img {
  width: 100%;
  height: 100%;
}

/* ? Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  padding: 0.5rem 1rem;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--step--1);
  transition: opacity 0.2s ease-in-out;
}
.navigation a.active {
  background-color: #f36100;
  border-radius: 1.25rem;
}

/* ? Tours */
.tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0.5rem 0;
}

/* ? Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}
.card .card-image {
  width: 100%;
  height: 350px;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.card .card-body {
  padding: 0 1.5rem;
}
.card .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}
.card .card-footer a {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #f05454;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--step--1);
  border-radius: 1.25rem;
  transition: opacity 0.2s ease-in-out;
}
